# Variables Operadores de comparación y lógicos
- Las variables son nombres de objetos que residen en memoria
- Una variable puede ser nombrada como gustes
 - El primer caracter de la variable no puede ser un número
 - No usar simbolos especiales ! , @ # $ % etc.
 - No debe ser nombrada igual que una palabra reservada
 - A las variables hay que asignarles un tipo de datos y un valor con el signo =
 - La variable asignada deberia ir al lado izquierdo del = y el valor a asignar al lado derecho
 - Python sugiere que los nombres de las variables sean de tipo snake_case esto se refiere a nombre en minusculas separados        entre palabras por un guión bajo, por ejemplo el nombre de un estudiante
 - Tipo Camel Case inician con mayuscula el nombre de cada palabra

In [1]:
# Variable de tipo string
nombre ="Armando"
# Variable tipo entero
edad = 28
# variable de tipo decimal
precio = 20.8
# Variable de tipo booleano
aprobado = True
# Tipo Lista
notas = [20,18,17]
# Tipo tupla
cursos = ('python','django','flask')
#Tipo diccionarios
empleado = {"A100":"GOMEZ","A200":"RUIZ"}

nombre_estudiante="Armando Ruiz"
NombreEstudiante="Armando Ruiz"

In [2]:
# Procedencia de los Operadores
# ORden de los Operadores
#EXPONENTE
#NEGACION
#MULTIPLICACION,DIVISION,DIVISION ENTERA,MODULO
#SUMA, RESTA
x= 3 * 2 + 7
print(x)

13

In [3]:
Y=300/300*200
print (Y)

200.0

In [4]:
300*200/300

200.0

In [5]:
# El exponente calcula dos elevado a la tres
2**3

8

# Formatos en Python

In [8]:
# %s STRING
# %d INTEGER
# %f FLOAT

mentor = "Armando"
curso ="Python"
edad = 43
salario = 1700
print("%s tiene %d" %(mentor,edad))
print(mentor,"tiene",edad)

Armando tiene 43
Armando tiene 43

In [13]:
consumo = float(input("Ingrese el monto a consumir: "))
if consumo <=100:
    des=consumo*0.10
else:
    des=consumo*0.20
imp = consumo * 0.15
total = (consumo - des) +imp
print ("El descuento: {}, El impuesto {}, El total {}".format(des,imp,total))

Ingrese el monto a consumir: 1200
El descuento: 240.0, El impuesto 180.0, El total 1140.0

# Procesos Repetitivos
 - **break** : salir del bucle
 - **continue** : seguir el proceso

In [16]:
for i in range (1,11):
    if i==10:
        break
    else:
        print("Aun no llega a 10",i)
        continue

Aun no llega a 10 1
Aun no llega a 10 2
Aun no llega a 10 3
Aun no llega a 10 4
Aun no llega a 10 5
Aun no llega a 10 6
Aun no llega a 10 7
Aun no llega a 10 8
Aun no llega a 10 9

In [20]:
#Contadores
#Acumuladores
c=0
sum = 0
for i in range (5):
    valor = int(input("Ingrese valores"))
    c +=1   #TRABAJAR CON UN CONTADOR DENTRO DE UN BUCLE
    sum += valor   # TRABAJAR CON UN ACUMULADOR DE UN BUCLE
print("Cantidad de valores ingresados:",c)
print("Suma de esos valores:" ,sum)

Ingrese valores200
Ingrese valores300
Ingrese valores100
Ingrese valores100
Ingrese valores100
Cantidad de valores ingresados: 5
Suma de esos valores: 800

In [21]:
cursos =['python','django','flask']
print(cursos)

['python', 'django', 'flask']

In [22]:
for item in cursos:
    print("Yo estudio estos cursos",item)

Yo estudio estos cursos python
Yo estudio estos cursos django
Yo estudio estos cursos flask

In [24]:
#ESCRIBIR UN PROGRAMA QUE PIDA AL USUARIO UNA PALABRA Y MUESTRE POR PANTALLA EL NUMERO DE VECES QUE CONTIENE UNA VOCAL
palabra = input("Ingrese la Palabra: ")
vocales = ['a','e','i','o','u']
for vocal in vocales:
    con=0
    for letra in palabra:
        if letra == vocal:
            con+=1
    print("La Vocal "+ vocal +" aparece" + str(con)+ " veces")

Ingrese la Palabra: esteban
La Vocal a aparece1 veces
La Vocal e aparece2 veces
La Vocal i aparece0 veces
La Vocal o aparece0 veces
La Vocal u aparece0 veces

In [29]:
#while
passw = "codigo"
cont=0
while True:
    con =input("Ingrese la contraseña para entrar al sistema")
    if con==passw:
        print("Bienvenido al Sistema")
        break
    else:
        print("La contraseña esta errada")
        cont+=1
        if cont==3:
            print("Supero los intentos, vuelva a intentarlo dentro de 24 horas")
            break

Ingrese la contraseña para entrar al sistemacodigo
Bienvenido al Sistema

In [34]:
correcto=False
while not correcto:
    password = input ("Ingrese contraseña:")
    if len(password)<10 or len(password)>20:
        print("Error La contraseña no cumple con el formato requerido")
    else:
        correcto = True
        break
print("Contraseña",password,"Aceptada en el formato")

Ingrese contraseña:pythonesfacil
Contraseña pythonesfacil Aceptada en el formato

# DICCIONARIOS

In [36]:
mi_diccionario={'bolivia':'la paz','argentina':'bns aires','chile':'santiago'}
print(mi_diccionario)

{'bolivia': 'la paz', 'argentina': 'bns aires', 'chile': 'santiago'}

In [37]:
print(mi_diccionario['chile'])

santiago

In [38]:
mi_diccionario['peru']='lima'
print(mi_diccionario)

{'bolivia': 'la paz', 'argentina': 'bns aires', 'chile': 'santiago', 'peru': 'lima'}

In [39]:
del mi_diccionario['chile']
print(mi_diccionario)

{'bolivia': 'la paz', 'argentina': 'bns aires', 'peru': 'lima'}

In [41]:
print(mi_diccionario.values())
print(mi_diccionario.keys())

dict_values(['la paz', 'bns aires', 'lima'])
dict_keys(['bolivia', 'argentina', 'peru'])

In [43]:
clientes=[
    {'nombre':'hector','apellido':'gomez','dni':'10210904'},
    {'nombre':'manuel','apellido':'gomez','dni':'10210905'},
    {'nombre':'pedro','apellido':'gomez','dni':'10210906'},
    {'nombre':'maria','apellido':'gomez','dni':'10210907'},
    {'nombre':'josefina','apellido':'gomez','dni':'10210908'}
]

In [44]:
def bienvenido():
    print("Hola Como estas")

In [45]:
bienvenido()

Hola Como estas

In [50]:
def buscar_clientes(clie,dni):
    for c in clie:
        if (dni==c['dni']):
            print('{} {}'.format(c['nombre'],c['apellido']))
            break
    print("Cliente no esta registrado en nuestra base de datos")

In [54]:
buscar_clientes(clientes,'10210904')

hectorgomez
Cliente no esta registrado en nuestra base de datos

In [51]:
buscar_clientes(clientes,'10210907')

mariagomez
Cliente no esta registrado en nuestra base de datos

In [52]:
buscar_clientes(clientes,'10210908')

josefinagomez
Cliente no esta registrado en nuestra base de datos

In [53]:
# Construir una nueva lista que multiplique por dos, solo los numeros pares de una lista antigua
numeros=[1,2,3,4,5]
numeros_pares_doblados=[]
for n in numeros:
    if(n % 2 == 0):
        numeros_pares_doblados.append(n*2)
print(numeros_pares_doblados)

[4, 8]

# Comprension de Listas

In [56]:
#[expresion for item in lista condicional]
numeros_pares_doblados=[n*2 for n in numeros if n%2==0]
print(numeros_pares_doblados)

[4, 8]

# Separador
- Puede mostrar cualquier caracter entre los argumentos

In [57]:
print("Hola","Mundo",sep='<->')
print("hola", end="")

Hola<->Mundo

In [60]:
print("Saltos de linea. viene un salto \n\n")
print("\t tabulador \n\n")
print("comillas .comillas dentro: \"Hola\" ")

Saltos de linea. viene un salto


	 tabulador


comillas .comillas dentro: "Hola"